.header {
    background: url("../images/backgrounds/1.jpg") 0 0 / cover no-repeat;
    min-height: 100vh;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1160px;
        margin: 0 auto;
    }
    &__content{
        margin-right: 40px;
    }
    &__form {
        background: rgb(255, 255, 255, 0.94);
        padding: 55px 30px 40px 30px;
        transition: all .3s;
        position: relative;
        z-index:5;
        min-width: 460px;
        transition: all .5s;
        &::after{
            content: "";
            width: 110%;
            height: 110%;
            background: #fff;
            opacity: 0.2;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) scale(0);
            transition: all .5s;
            z-index: -1;     
        }
        &:hover::after{ 
            transform: translate(-50%,-50%) scale(1);    
        }
    }

    &__form-input {
        display: block;
        width: 100%;
        height: 45px;
        background: rgba(230, 220, 241, 0.7);
        opacity: 0.8;
        border: 1px solid rgba(200, 0, 200, 0.3);
        backdrop-filter: blur(15.0285px);
        border-radius: 4px;
        margin: 10px 0px 18px 0px;
        padding-left: 10px;

    }

    &__form-label {
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        max-width: 340px;
        position: relative;
        margin: 0 auto;

        &::after {
            content: "";
            width: 45px;
            height: 2px;
            background-color: #000;
            position: absolute;
            top: -17px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__form-label--input {
        text-align-last: left;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #9D9A9A;
    }

    &__form-price {
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #9D9A9A;
        margin-bottom: 20px;

    }


    &__title {
        position: relative;
        font-size: 80px;
        font-weight: 700;
        line-height: 95px;
        color: #EDEDED;
        max-width: 650px;
        letter-spacing: 0.03em;
        margin-bottom: 64px;
    }

    &__logos-list {
        display: grid;
        max-width: 300px;
        grid-template: repeat(2, auto) / repeat(2, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 30px;
    }
    &__logos-list--hidden{
        display: none;
    }
    &__logos-list{
    }
    &__logos-item img{
        width: 100%;
        height: 100%;
    }

    &__form-button {
        text-align: center;
    }


}

@media(max-width:1230px){
    .header{
        &__title{
            font-size: 50px;
            line-height: 130%;
        }
    }
}

@media(max-width:980px){
    .header{
        &__title{
            text-align: center;
            order: 0;
        }
        
        &__inner{
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
        }
        &__content{
            margin-right: 0;
            order: 1;
        }
        &__form{
            margin-bottom: 30px;
            min-width: 0;
            
        }
        &__logos-list--visible{
            display: none;
            
        }
        &__logos-list--hidden{
            display: grid;
            margin: 0 auto;
            
        }
        &__form{
            margin-bottom: 100px;
        }
    }
}
@media(max-width:600px){
    .header{
        &__title{
            font-size: 40px;
        }
        &__form-button{
            padding: 16px 10px;
            font-size: 14px;
        }  
    }
}
@media(max-width:400px){
    .header{
        &__title{
            text-align: left;
        }
        &__form-label{
            font-size: 26px;
            line-height: 36px;
        }
        &__form-price{
            font-size: 14px;
        }
    }
}